.a-slide-up {
	animation-name: slide-up;
	-webkit-animation-name: slide-up;	
	animation-duration: 0.7s;	
	-webkit-animation-duration: 0.7s;
	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;
	visibility: visible !important;			
}

@keyframes slide-up {
	0% { transform: translateY(100%);	}		
	100% { transform: translateY(0%);	}	
}

@-webkit-keyframes slide-up {
	0% { -webkit-transform: translateY(100%);	}		
	100% { -webkit-transform: translateY(0%);	}	
}

.bg-effect:before,
.s1:before {
	animation-name: bg-effect;
	-webkit-animation-name: bg-effect;
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}

@keyframes bg-effect {
	100% { filter: grayscale(100%); opacity: 0.1; }
}

@-webkit-keyframes bg-effect {
	100% { -webkit-filter: grayscale(100%); opacity: 0.1; }
}

.a-slide-left {
	animation-name: slide-left;
	-webkit-animation-name: slide-left;	
}

.a-slide-left-50 {
	animation-name: slide-left-50;
	-webkit-animation-name: slide-left-50;	
}

.a-slide-right {
	animation-name: slide-right;
	-webkit-animation-name: slide-right;	
}

.a-slide-right-50 {
	animation-name: slide-right-50;
	-webkit-animation-name: slide-right-50;	
}

.a-bounce {
	animation-name: bounce;
	-webkit-animation-name: bounce;	
}

.a-slide-left,
.a-slide-left-50,
.a-slide-right-50,
.a-slide-right,
.a-bounce {
	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;
}

@keyframes slide-left {
	0% { transform: translateX(100%);	}		
	100% { transform: translateX(0%);	opacity: 1; }	
}
@-webkit-keyframes slide-left{
	0% { -webkit-transform: translateX(100%);	}		
	100% { -webkit-transform: translateX(0%);	opacity: 1; }	
}

@keyframes slide-right-50 {
	0% { transform: translateX(-50%);	}		
	100% { transform: translateX(0%);	opacity: 1; }	
}
@-webkit-keyframes slide-right-50 {
	0% { -webkit-transform: translateX(-50%);	}		
	100% { -webkit-transform: translateX(0%);	opacity: 1; }	
}

@keyframes slide-left-50 {
	0% { transform: translateX(50%);	}		
	100% { transform: translateX(0%);	opacity: 1; }	
}
@-webkit-keyframes slide-left-50 {
	0% { -webkit-transform: translateX(50%);	}		
	100% { -webkit-transform: translateX(0%);	opacity: 1; }	
}

@keyframes slide-right {
	0% { transform: translateX(0%);	}		
	100% { transform: translateX(100%);	opacity: 1; }	
}
@-webkit-keyframes slide-right {
	0% { -webkit-transform: translateX(0%);	}		
	100% { -webkit-transform: translateX(100%);	opacity: 1; }	
}

@keyframes slide-right {
	0% { transform: translateX(0%);	}		
	100% { transform: translateX(100%);	opacity: 1; }	
}
@-webkit-keyframes slide-right {
	0% { -webkit-transform: translateX(0%);	}		
	100% { -webkit-transform: translateX(100%);	opacity: 1; }	
}

@keyframes bounce {	
	from {
		opacity: 1; transform: translateY(0px);
	 } to { 
	  opacity: 1; transform: translateY(-40px);
	 }

	0% { transform: scale(1, 0.8); }
}
@-webkit-keyframes bounce {	
	from {
		opacity: 1; -webkit-transform: translateY(0px);
	} to { 
	  opacity: 1; -webkit-transform: translateY(-50px);
	}
	0% { -webkit-transform: scale(1, 0.8); }
}

.a-popout {
	animation: popout 0.5s ease;
	-webkit-animation: popout 0.5s ease;
	animation-delay: 0.2s;
	-webkit-animation-delay: 1s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@keyframes popout {
	0% { -webkit-transform: scale(0); opacity: 1; }
	50% { -webkit-transform: scale(1.5); }
	100% { -webkit-transform: scale(1); opacity: 1;}
}

@-webkit-keyframes popout {
	0% { -webkit-transform: scale(0); opacity: 1; }
	50% { -webkit-transform: scale(1.5); }
	100% { -webkit-transform: scale(1); opacity: 1;}
}

@keyframes popout-ring {
	0% { transform: scale(1); opacity: 1; filter: blur(0px); }
	30% { filter: blur(0px); }
	100% { transform: scale(2); filter: blur(3px); opacity:0;}
}

@-webkit-keyframes popout-ring {
	0% { -webkit-transform: scale(1); opacity: 1; -webkit-filter: blur(0px);}
	30% { -webkit-filter: blur(0px); }
	100% { -webkit-transform: scale(2); -webkit-filter: blur(3px); opacity:0;}
}

@keyframes navigation-hover {
	0% { background: transparent; width: 0%; }
	100% { background: $colorMain; width: 100%; color: #fff; }
}

@-webkit-keyframes navigation-hover {
	0% { background: transparent; width: 0%; }
	100% { background: $colorMain; width: 100%; color: #fff; }
}

@keyframes navigation-hover-dark {
	0% { background: transparent; width: 0%;}
	100% { background: $colorMain2; width: 100%; color: #fff; }
}

@-webkit-keyframes navigation-hover-dark {
	0% { background: transparent; width: 0%;}
	100% { background: $colorMain2; width: 100%; color: #fff; }
}

.a-fade-out {
	animation-name: fade-out;
	-webkit-animation-name: fade-out;	
	animation-duration: 0.7s;	
	-webkit-animation-duration: 0.7s;
	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;	
}

@keyframes fade-out {
	100% { opacity: 0; display: none;}
}

@-webkit-keyframes fade-out {
	100% { opacity: 0; display: none;}
}