/* grid-ag ver. 0.6 */

/* Media Breakpoint variables */
$breakpointSM: 768;
$breakpointMD: 992;
$breakpointLG: 1200;
$breakpointXLG: 1655;
/* end-Media Breakpoint variables */

/* Calculate container width */
@mixin container-width($breakpoint) {
	width: floor($breakpoint * 0.93) + px;
}
/* end-Calculate container width */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container, .container-full {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  
}

.xs-visible, .sm-visible, .md-visible, .lg-visible, .xlg-visible {
  display: none !important;
}

.xs-1, .xs-2, .xs-3, .xs-4, .xs-5, .xs-6, .xs-7, .xs-8, .xs-9, .xs-10, .xs-11, .xs-12,
.sm-1, .sm-2, .sm-3, .sm-4, .sm-5, .sm-6, .sm-7, .sm-8, .sm-9, .sm-10, .sm-11, .sm-12,
.md-1, .md-2, .md-3, .md-4, .md-5, .md-6, .md-7, .md-8, .md-9, .md-10, .md-11, .md-12,
.lg-1, .lg-2, .lg-3, .lg-4, .lg-5, .lg-6, .lg-7, .lg-8, .lg-9, .lg-10, .lg-11, .lg-12,
.xlg-1, .xlg-2, .xlg-3, .xlg-4, .xlg-5, .xlg-6, .xlg-7, .xlg-8, .xlg-9, .xlg-10, .xlg-11, .xlg-12 {
	position: relative;
	min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.xs-hidden { display: none !important; }
.xs-1, .xs-2, .xs-3, .xs-4, .xs-5, .xs-6, .xs-7, .xs-8, .xs-9, .xs-10, .xs-11, .xs-12 { float: left; }
.xs-12 { width: 100%; }
.xs-11 { width: 91.66666667%; }
.xs-10 { width: 83.33333333%; }
.xs-9 { width: 75%; }
.xs-8 { width: 66.66666667%; }
.xs-7 { width: 58.33333333%; }
.xs-6 { width: 50%; }
.xs-5 { width: 41.66666667%; }
.xs-4 { width: 33.33333333%; }
.xs-3 { width: 25%; }
.xs-2 { width: 16.66666667%; }
.xs-1 { width: 8.33333333%; }

@media (min-width: $breakpointSM + 'px') {
  .container { @include container-width($breakpointSM); }
  .sm-hidden { display: none !important; }
  .sm-visible { display: block !important; }
	.sm-1, .sm-2, .sm-3, .sm-4, .sm-5, .sm-6, .sm-7, .sm-8, .sm-9, .sm-10, .sm-11, .sm-12 { float: left; }
	.sm-12 { width: 100%; }
  .sm-11 { width: 91.66666667%; }
  .sm-10 { width: 83.33333333%; }
  .sm-9 { width: 75%; }
  .sm-8 { width: 66.66666667%; }
  .sm-7 { width: 58.33333333%; }
  .sm-6 { width: 50%; }
  .sm-5 { width: 41.66666667%; }
  .sm-4 { width: 33.33333333%; }
  .sm-3 { width: 25%; }
  .sm-2 { width: 16.66666667%; }
  .sm-1 { width: 8.33333333%; }
}

@media (min-width: $breakpointMD + 'px') {
  .container { @include container-width($breakpointMD); }
  .md-hidden { display: none !important; }
  .md-visible { display: block !important; }
	.md-1, .md-2, .md-3, .md-4, .md-5, .md-6, .md-7, .md-8, .md-9, .md-10, .md-11, .md-12 { float: left; }
	.md-12 { width: 100%; }
  .md-11 { width: 91.66666667%; }
  .md-10 { width: 83.33333333%; }
  .md-9 { width: 75%; }
  .md-8 { width: 66.66666667%; }
  .md-7 { width: 58.33333333%; }
  .md-6 { width: 50%; }
  .md-5 { width: 41.66666667%; }
  .md-4 { width: 33.33333333%; }
  .md-3 { width: 25%; }
  .md-2 { width: 16.66666667%; }
  .md-1 { width: 8.33333333%; }
}

@media (min-width: $breakpointLG + 'px') {
  .container { @include container-width($breakpointLG); }
  .lg-hidden { display: none !important; }
  .lg-visible { display: block !important; }
	.lg-1, .lg-2, .lg-3, .lg-4, .lg-5, .lg-6, .lg-7, .lg-8, .lg-9, .lg-10, .lg-11, .lg-12 { float: left; }
	.lg-12 { width: 100%; }
  .lg-11 { width: 91.66666667%; }
  .lg-10 { width: 83.33333333%; }
  .lg-9 { width: 75%; }
  .lg-8 { width: 66.66666667%; }
  .lg-7 { width: 58.33333333%; }
  .lg-6 { width: 50%; }
  .lg-5 { width: 41.66666667%; }
  .lg-4 { width: 33.33333333%; }
  .lg-3 { width: 25%; }
  .lg-2 { width: 16.66666667%; }
  .lg-1 { width: 8.33333333%; }
}

@media (min-width: $breakpointXLG + 'px') {
  .container { @include container-width($breakpointXLG); }
  .xlg-hidden { display: none !important; }
  .xlg-visible { display: block !important; }
	.xlg-1, .xlg-2, .xlg-3, .xlg-4, .xlg-5, .xlg-6, .xlg-7, .xlg-8, .xlg-9, .xlg-10, .xlg-11, .xlg-12 { float: left; }
	.xlg-12 { width: 100%; }
  .xlg-11 { width: 91.66666667%; }
  .xlg-10 { width: 83.33333333%; }
  .xlg-9 { width: 75%; }
  .xlg-8 { width: 66.66666667%; }
  .xlg-7 { width: 58.33333333%; }
  .xlg-6 { width: 50%; }
  .xlg-5 { width: 41.66666667%; }
  .xlg-4 { width: 33.33333333%; }
  .xlg-3 { width: 25%; }
  .xlg-2 { width: 16.66666667%; }
  .xlg-1 { width: 8.33333333%; }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-full:before,
.container-full:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-full:after,
.row:after {
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}