/* Typography */
$fontFamily: 'Catamaran', sans-serif;
$fontSize: 16px;
$fontColor: #333;
$fontLight: 100;
$fontMedium: 400;
$fontBold: 600;

/* Colors */
$colorMain: #32b34a;
$colorMainLight: lighten($colorMain, 10%);
$colorMain2: #eecc17;
$colorMain2Light: lighten($colorMain2, 10%);
$colorMain2Darker: darken($colorMain2, 30%);
$colorBackground: #fff;