.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }

.center-xy {
	display: flex;
	display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
	display: none;
}