@import "_reset.scss";
@import "_variables.scss";
@import "_workflow.scss";
@import "_grid-ag.scss";
@import "_animations.scss";

/*  */
@font-face {
	font-family: 'typicons';
	src: url("css/typicons/typicons.eot");
	src: url("css/typicons/typicons.eot?#iefix") format('embedded-opentype'),
	url("css/typicons/typicons.woff") format('woff'),
	url("css/typicons/typicons.ttf") format('truetype'),
	url("css/typicons/typicons.svg#typicons") format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	height: 100%;
}

body {
	font-family: $fontFamily;
	font-size: $fontSize;
	font-weight: $fontMedium;
	color: $fontColor;
	background: $colorBackground;
	height: 100%;
	overflow-x: hidden;
}

header {
	padding: 15px 0;
	width: 100%;
	z-index: 9999;
	position: fixed;
}

section {
	min-height: 100%;
	display: block;
	padding: 125px 0;
}

footer {
	padding: 30px 0;
	text-align: center;
	font-size: 0.75em;
}

footer a,
footer a:active {
	color: $colorMain;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	font-weight: $fontLight;
	-webkit-margin-after: 0.3em;
	-webkit-margin-before: 0.3em;
}

h1 { 
	font-size: 2.5em; 
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 1.1em;
}

.mb1 { margin-bottom: 1em; }
.mb3 { margin-bottom: 3em; }
.mb5 { margin-bottom: 5em; }

.mt1 { margin-top: 1em; }
.mt3 { margin-top: 3em; }
.mt5 { margin-top: 5em; }

#section-2 {
	visibility: hidden;
}

#mobile-menu-trigger span {
	font-size: 2em;
	color: #fff;
}

.navigation {
	max-height: 0px;
	transition: max-height 0.7s;
	overflow: hidden;
}

.navigation ul {
	padding: 0;
	margin: 10px 0 0 0;
	background: $colorMain;
}

.navigation ul li {
	text-align: center;
	list-style-type: none;
	border-bottom: 1px solid $colorMainLight;
}

.navigation ul li a {
	display: block;
	font-size: 2em;
	font-weight: $fontBold;
}

.navigation ul li a,
.navigation ul li a:active {
	color: #fff;
	text-decoration: none;
}

.dark-header #mobile-menu-trigger span {
	color: #333;
}

.s1, .s3, .s6 {
	position: relative;
	z-index: 1;
}

.s1 {
	background: $colorMainLight;
}

.s1:before, .s3:before, .s6:before {
	content: " ";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
}

.s1:before {
	background: url('../media/kids.jpg') no-repeat;
}

.s2 {
	background: url('../media/s2.jpg') no-repeat;
}

.s3:before {
	background: url('../media/child-swing-min.jpg') no-repeat;
}

.s6:before {
	background: url('../media/chalk-bucket-min.jpg') no-repeat;
}

.s1:before, .s2, .s3:before, .s6:before {
	background-position: top center;
	min-height: 100%;
	background-size: cover;
}

.s7 i {
	color: $colorMain;
	margin-right: 10px;
}

.s7 a[href^="mailto:"],
.s7 a[href^="tel:"],
.s7 a.social {
	color: #fff;
	background: $colorMain;
	border-radius: 15px;
	padding: 1px 20px;
	text-decoration: none;
}

.s7 a[href^="mailto:"],
.s7 a[href^="tel:"],
.s7 a.social {
	color: #fff;
	background: $colorMain;
	border-radius: 15px;
	padding: 1px 20px;
	text-decoration: none;
}

.s7 ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.s7 ul li {
	margin-bottom: 8px;
}

.s7 iframe {
	width: 100%;
	height: 450px;
}

.section1-text,
.section1-text-2 {
	text-align: center;
	font-size: 2em;
	font-weight: $fontLight;
	color: #fff;
	opacity: 0;
}

.section1-text {
	animation: slide-left 1s ease-out;
	animation-delay: 2.5s;			
	-webkit-animation-delay: 2.5s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

.section1-text-2 {
	animation: slide-left 1s ease-out;
	animation-delay: 4.2s;			
	-webkit-animation-delay: 4.2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

.section1-icon {
	position: absolute;
	bottom: 1%;
	left: auto;
	right: auto;
	opacity: 0;
	animation: bounce 0.7s infinite alternate;
	animation-delay: 6s;			
	-webkit-animation-delay: 6s;
}

.section1-icon i {
	font-size: 2em;
	color: #fff;
	font-weight: $fontLight;
}

#section-3 h2,
#section-3 p {
	color: #fff;
}

#section-3 h2,
#section-3 p {
	background: $colorMainLight;
	color: #fff;
	border-radius: 4px;
	padding: 20px 30px;
}

#section-3 h2 {
	display: inline-block;
}

.s6 {
	background: $colorMainLight;
}

a { cursor: pointer; }

.show {
	max-height: 1000px;
}

.highlight {
	background-color: $colorMain2;
	color: #fff;
}

ul.month {
	list-style: none;
	padding: 0;
	margin: 0;
}

li.day,
li.day:before,
li.day:after {
	width: 60px;
	height: 60px;
	vertical-align: baseline;
	position: relative;
	border-radius: 50px;
}

li.day:before,
li.day:after {
	display: block;
}

li.day {
	opacity: 0;
	background: $colorMain;
	cursor: pointer;
	margin: 1.5em;
	display: inline-block;
	z-index: 1;
}

li.day:before {
	content: '';
	border: 5px solid $colorMain;
	z-index: -999;
}

li.day:hover:before {
	animation: popout-ring 1s ease;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

li.day:after {
	content: attr(data-day);
	color: #fff;
	text-align: center;
	white-space: nowrap;
	line-height: 50px;
	margin-top: -55px;
	z-index: 999;
}

.s5 {
	overflow: hidden;
	opacity: 0;
	position: relative;
}

.s5:before {
	content: '';
	background-image: linear-gradient(to bottom, $colorMain2 60%, transparent 40%);
	transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	display: block;
	width: 200%;
	height: 200%;
	position: absolute;
	z-index: -1;
}

.month-box {
	padding-top: 2em;
}

#day-box,
#day-description-box {
	color: $colorMain2Darker;
	font-weight: $fontLight;
}

#day-box {
	font-size: 1.4em;
	background: $colorBackground;
	padding: 0 10px;
	display: inline-block;
	margin-bottom: 10px;
	border-radius: 4px;
}

#day-title-box {
	color: $colorMain;
	font-size: 2em;
	line-height: 1.2em;
}

#day-description-box {
	font-size: 1.2em;
	margin-top: 10px;
}

.quote {
	font-size: 1.5em;
	font-weight: $fontLight;
	font-style: italic;
	text-align: center;
}
.quote:before{
	font-family: "FontAwesome";
	content: "\f10e";
	color: $colorMain;
	margin-right: 20px;
}

.user-pic img {
	border-radius: 50%;
	width: 170px;
	height: 170px;
	border: 1px solid $colorMain2;
	display: block;
	margin: 0 auto;
}

.user-name, .user-title {
	padding: 0;
	margin: 0;
}

.user-name {
	font-size: 1.2em;
	margin-top: 20px;
}

.user-title {
	font-size: 0.75em;
}

.s6 {
	color: #fff;
}

.s6-1, .s6-2 {
	opacity: 0;
}

.classes ul,
.payment ul {
	text-align: center;
	padding: 0;
	margin: 0;
}
.classes ul li,
.payment ul li {
	list-style: none;
	margin: 0;
	text-align: center;
	padding: 20px;
}

.classes ul li i,
.payment ul li i {
	background: #fff;
	height: 80px;
	width: 80px;
	color: $colorMain;
	border-radius: 50px;
	text-align: center;
	line-height: 80px;
	font-size: 2em;
}

.classes ul li span,
.payment ul li span {
	display: block;
}

.s4 {
	background: $colorMainLight;	
	color: #fff;
}

.s4 h3 a {
	display: block;
	border: 1px solid #fff;
	border-radius: 15px;
	margin: 0 20px;
	padding: 5px 15px;
}

.filter.active,
.s4 h3 a:hover {
	background: $colorMain2;
	border: 1px solid $colorMain2;
  transition: background 0.3s;
	-webkit-transition: background 0.3s;
}

.logo h1 {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}

iframe {
	border: 0;
}

@media (min-width: $breakpointSM + 'px') {
	#mobile-menu-trigger i {
		font-size: 3em;
	}
}

@media (min-width: $breakpointMD + 'px') {
	.quote {
		font-size: 2em;
	}
}

@media (min-width: $breakpointLG + 'px') {
	h1 { 
		font-size: 3.5em; 
	}

	h2 {
		font-size: 3em;
	}

	h3 {
		font-size: 2em;
	}

	h4 {
		font-size: 1.6em;
	}

	h5 {
		font-size: 1.2em;
	}
	section {
		padding: 200px 0;
	}
	.navigation {
		max-height: 100%;
	}
	.navigation ul {
		background: transparent;
	}
	.navigation ul li {
		display: inline-block;
		border: 0;
		font-size: 0.5em;
	}
	.navigation {
		text-align: right;
	}
	.navigation ul li a {
		padding: 0 15px;
		font-weight: $fontMedium;
	}
	.navigation ul li a:hover,
	.dark-header .navigation ul li a:hover {
		border-radius: 15px;
	}
	.navigation ul li a:hover {
		animation: navigation-hover-dark 0.3s ease-out;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
	}
	.dark-header .navigation ul li a:hover {
		animation: navigation-hover 0.3s ease-out;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
	}
	.dark-header .navigation ul li a,
	.dark-header .navigation ul li a:active,
	.dark-header #mobile-menu-trigger span {
		color: #333;
	}
	.section1-text,
	.section1-text-2 {
		font-size: 3em;
	}
	.section1-icon {
		bottom: 5%;
	}
	.section1-icon i {
		font-size: 3em;
	}
	#section-3 p {
		width: 50%;
	}
	.s5:before {
		background-image: linear-gradient(to right, $colorMain2 50%, transparent 50%);
		transform: rotate(10deg);
		-webkit-transform: rotate(10deg);
	}
	#day-title-box {
		font-size: 4em;
	}
	.month-box {
		position: absolute;
		left: 50%;
		top: 35%;
		width: 40%;
		padding-top: 0;
	}
	.s7 a[href^="tel:"] {
		color: #333;
		background: transparent;
		border-radius: 0;
		padding: 0;
		text-decoration: none;
		cursor: text;
	}
	.s6 {
		text-align: center;
	}
	.classes ul li,
	.payment ul li {
		display: inline-block;
		padding: 40px;
	}
	.s4 h3 a {
		display: inline-block;
	}
}

@media (min-width: $breakpointXLG + 'px') {

}

.border {
	border: 1px solid red;
}